.slider {
  position: relative;
  // overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  height: 380px;
  background: rgb(57, 80, 60);
  border-radius: 10px;
  margin-bottom: 40px;
}

.slideImg {
  width: 950px;
  height: 380px;
  border-radius: 10px;
  position: relative;
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: 32px;
  color: rgb(192, 36, 122);
  cursor: pointer;
  z-index: 10;
  user-select: none;
  size: 22;
}
.leftArrow {
  position: absolute;
  top: 50%;
  left: 32px;
  color: rgb(192, 36, 122);
  cursor: pointer;
  z-index: 10;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
