.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 330px;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 1000px;
  overflow: hidden;
}

.sliderImg {
  min-width: 1000px;
  height: 330px;
  border-radius: 10px;
  position: relative;
}

<<<<<<< main:src/components/slider/Slider.module.scss
.slide.active {
  transition: ease-in-out 2000ms;
}
=======
<<<<<<< 2b19ebd0709e387f3ec57f23a6f93264974c574d:src/components/slider/Slider.module.scss
// .slide.active {
//   transition: ease-in-out 2000ms;
// }
=======
<<<<<<< main:src/components/slider/Slider.module.scss
.slide.active {
  transition: ease-in-out 2000ms;
}
>>>>>>> fix styles imports:src/components/slider/Slider.module.css
>>>>>>> fix styles imports:src/components/slider/Slider.module.css

=======
>>>>>>> fix styles imports:src/components/slider/Slider.module.css
.rightArrow {
  position: absolute;
  top: 50%;
  right: 32px;
  color: rgb(182, 171, 178);
  cursor: pointer;
  z-index: 10;
  user-select: none;
  font-size: 40px;
}
.leftArrow {
  position: absolute;
  top: 50%;
  left: 32px;
  color: #c4c4c4;
  cursor: pointer;
  z-index: 10;
  user-select: none;
  font-size: 40px;
}

.sliderDots {
  position: absolute;
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: #c4c4c4;
  align-content: flex-end;
  margin: 250px 15px 7px 0px;
  cursor: pointer;
}

.sliderDots.active {
  background-color: #6a0dad;
}
